@tailwind base;
@tailwind components;
@tailwind utilities;


.customBorder {
    position: relative; /* Required for positioning the pseudo-element */
    display: inline-block; /* Ensures the border aligns with the text width */
}

.customBorder::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;  
    width: 0; 
    height: 2px; 
    background-color: orange;
    transition: width 0.2s ease-in-out;
    transform-origin: left;
}

.customBorder:hover::after {
    width: 100%;
}
